name: Scan Repositories Workflow

on: 
  push:
    branches: 
      - main  # Ajusta al nombre de tu branch principal si es diferente
  workflow_dispatch: 

jobs:
  scan-repositories:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Snyk and GitHub CLI
      run: |
        # [Aquí podrían ir tus comandos para configurar Snyk y GitHub CLI]
      
    - name: Run script
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      run: .github/scripts/script.sh


