name: Scan Vulnerabilities

on:
  workflow_dispatch:

jobs:
  scan-vulnerabilities:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
        
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run Script
        run: python .github/scripts/scan_repositories.py
        env:  # Pasando el token como una variable de entorno al script
          GH_TOKEN: ${{ secrets.GH_PAT }}
