name: Vulnerabilidad Scan

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'  # Ejecutar cada domingo a medianoche
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  scan-vulnerabilities:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: actions/security-scan@v2
        with:
          language: python
          output-format: csv
          # Indicamos la lista de repositorios a analizar
          GITHUB_REPOSITORIES: https://github.com/centralcordoba/backendappNetCore,https://github.com/centralcordoba/MarvelAngular

outputs:
  vulnerabilities: ${{ steps.scan-vulnerabilities.outputs.results }}

