name: Update swagger.yaml repository githubworkflowB

on:
  push:
    paths:
      - 'swagger.yaml'

permissions:
  contents: write
  pull-requests: write

env:
  REPO_NAME: githubworkflowB
  REPO_PATH: temp-repo

jobs:
  checkout-and-update:
    name: Checkout and Update swagger.yaml
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Clone githubworkflowB repository
        uses: actions/checkout@v3
        with:
          repository: beyondtrust/${{ env.REPO_NAME }}
          token: ${{ secrets.SECRET_WORK_FLOW }}
          path: ${{ env.REPO_PATH }}

      - name: Copy swagger.yaml to repository githubworkflowB
        run: cp swagger.yaml ${{ env.REPO_PATH }}/swagger.yaml

      - name: Randomize Branch Name
        run: echo "BRANCH_NAME=update-swagger-$(date +%s)" >> "$GITHUB_ENV"

      - name: Commit changes
        id: commit
        uses: EndBug/add-and-commit@v9
        with:
          add: "['swagger.yaml']"
          default_author: github_actions
          author_name: apibot
          message: "Update swagger.yaml"
          new_branch: ${{ env.BRANCH_NAME }}
          directory: ${{ env.REPO_PATH }}

      - name: Create PR
        if: ${{ steps.commit.outputs.committed == 'true' }}
        run: |
          gh pr create --repo centralcordoba/${{ env.REPO_NAME }} \
            --base main \
            --head ${{ env.BRANCH_NAME }} \
            --title "Update swagger.yaml" \
            --body "Updated file swagger.yaml from incidents repository." \
            --reviewer centralcordoba
        env:
          GITHUB_TOKEN: ${{ secrets.SECRET_WORK_FLOW }}
