name: Update swagger.yaml repository service-catalog

on:
  push:
    paths:
      - 'swagger.yaml'

jobs:
  update-swagger:
    runs-on: ubuntu-latest
    
    steps:
    - name: Clone incidents repository
      uses: actions/checkout@v2

    - name: Clone service-catalog repository
      uses: actions/checkout@v2
      with:
        repository: emanueljimenez3705/https://github.com/BeyondTrust/service-catalog
        token: ${{ secrets.SERVICE_CATALOG_OPEN_PR_TOKEN }}
        path: temp-repo

    - name: Copy swagger.yaml to repository service-catalog
      run: |
        cp swagger.yaml temp-repo/swagger.yaml

    - name: Create Pull Request in service-catalog repository
      uses: emanueljimenez3705/create-pull-request@v3
      with:
        token: ${{ secrets.SERVICE_CATALOG_OPEN_PR_TOKEN }}
        path: temp-repo
        commit-message: Update swagger.yaml
        title: Update de swagger.yaml
        body: Updated file swagger.yaml from incidents repository.
        branch: update-swagger
        base: master  # o el nombre de la rama a la que quieras hacer el PR
        reviewers: tshowers-bt
